:root {
    --primary-font: "iran-sans", sans-serif;
    --primary-color: rgb(97, 181, 55);
    --color-bg: #FFFFFF;
    --filter-color: brightness(0) saturate(100%) invert(21%) sepia(0) saturate(165%) hue-rotate(172deg) brightness(97%) contrast(86%);
    --gray-light: rgb(212, 212, 212);
}

@font-face {
    font-family: "iran-sans";
    src: url('/fonts/Iranian Sans.ttf')
    format('truetype');
}
/*=========================================*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-size: 100%;*/
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    /*content: '';*/
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*==========================|css reset*/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before , *::after {
    box-sizing: inherit;
}


body {
    font-family: var(--primary-font), sans-serif;
    background-color: var(--color-bg);
    line-height: 1.6;
    font-size: 1.6rem;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/*=====================| swiper*/

.mySwiper {
    margin: 2rem 0;
    border-radius: 1.5rem;
}

.swiper-pagination-bullet {
    background-color: transparent !important;
    width: 1.2rem !important;
    height: 1.2rem !important;
    border: 1.5px solid #000 !important;
    opacity: .8;
    border-radius: 50% !important;
    transition: all .25s !important;
}

.swiper-pagination-bullet-active {
    width: 28px !important;
    height: 12px !important;
    border: 1.2px solid #000 !important;
    border-radius: 20px !important;
    background: white !important;
    opacity: 1;
}